@use "../mixins" as *;
.categoryContainer {
    form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    input {
        @include inputStyle;
    }
    button {
        @include pinkButton(140px, 40px);
    }
}
