@mixin pinkButton($width: auto, $height: auto) {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    width: $width;
    height: $height;
    background: var(--color-red-300);
    border-radius: 10px;
    transition: background-color 200ms ease-in-out;
    transition: color 200ms ease-in-out;
    &:hover {
        background: hotpink;
    }
}

@mixin pinkLink($width: auto, $height: auto) {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-black);
    cursor: pointer;
    width: $width;
    height: $height;
    background: var(--color-red-300);
    transition: background-color 200ms ease-in-out;
    transition: color 200ms ease-in-out;

    &:hover {
        background: hotpink;
        color: whitesmoke;
    }
}

@mixin pinkLinkActive {
    transition: background-color 200ms ease-in-out;
    transition: color 200ms ease-in-out;
    background: hotpink;
    color: whitesmoke;
}

@mixin inputStyle {
    max-width: 400px;
    font-size: 0.9rem;
    padding: 0.8rem 0.5rem;
    background: rgb(236, 236, 236);
}

@mixin selectStyle {
    background: #ececec;
    color: black;
    width: 180px;
    padding: 0.6rem;
    padding-left: 0;
    option {
        padding: 1rem;
        background: #ececec;
    }
}
